.control-refresh {
    color: #4D4D4D;
    background-color: #FFFFFF;
    border-color: #BFBFBF;
    transition: .3s;
    font-size: 0.5vw;
    text-align: center;
}

.control-refresh:hover {
    color: #FFFFFF;
    background-color: #4D4D4D;
    border-color: #4D4D4D;
}